<div class="row-fluid">
   <div class="span6">
      <h3>Binding To Data</h3>
      <p>Just like most other Kendo UI widgets, the map can be bound to data by using a Kendo DataSource.</p>

      <p>If you are passing a data set that has latitude and longitude in it, you simply need to specify the </p><b>latField</b> and <b>lngField</b>.  By default they are set to <b>lat</b> and </b>lng</b>.

      <p>For each item in the dataset, the map will drop a marker.  You can specify the template for the marker</p>

      <pre>
var data = [
   { latitude: 28.381642, longitude: -81.56376, 
     name: "Disney World" },
   { latitude: 28.474907, longitude: -81.466316, 
     name: "Universal Studios" },
   { latitude: 28.411785, longitude: -81.460018, 
     name: "Sea World" }];

$("#position").kendoMap({
   dataSource: data,
   latField: "latitude",
   lngField: "longitude",
   map: {
      options: {
         center: {
            lat: 28.434783,
            lng: -81.518497
         },
         zoom: 10
      }
   }
});
      </pre>

      </div>
      <div class="span6">
         <h3>Example</h3>
         <div class="map" id="position"></div>
      </div>
   </div>
</div>
<div class="row_fluid">
   <div class="span6">
      <h3>Geocoding</h3>
      <p>Sometimes you don't know the latitude and longitude of your points.  That's OK as the maps widget will try and geocode them for you using the Google Maps Geocoder.  This works for the center point AND any data points.</p>
      <p>For data points, instead of specifying a <b>latField</b> or <b>lngField</b>, simply provide an <b>addressField</b>.  If you do not provide one, it looks for a field called <b>address</b> by default.</p>
            <pre>
var data = [
   { address: "Disney World" },
   { address: "Universal Studios" },
   { address: "Sea World Florida" }];

$("#position").kendoMap({
   dataSource: data
   map: {
      options: {
         center: "Sheen Lake",
         zoom: 10
      }
   }
});
      </pre>
   </div>
   <div class="span6">
      <h3>Example</h3>
      <div class="map" id="position_geocode"></div>
   </div>
</div>
   

	