<div class="row-fluid">
   <div class="span6">
      <h3>Markers</h3>

      <p>You have quite a bit of control over the markers on the map.  In fact, any value that can be passed to the markerOptions object can be passed in via the <b>options</b> object on the <b>markers</b> options object.</p>
      <p>For instance, you can specify an animation using the <b>google.marker.animation</b> constant.</p>

      <pre>
var data = [
   { latitude: 28.381642, longitude: -81.56376, 
     name: "Disney World" },
   { latitude: 28.474907, longitude: -81.466316, 
     name: "Universal Studios" },
   { latitude: 28.411785, longitude: -81.460018, 
     name: "Sea World" }];

$("#position").kendoMap({
   dataSource: data,
   latField: "latitude",
   lngField: "longitude",
   map: {
      options: {
         center: {
            lat: 28.434783,
            lng: -81.518497
         },
         zoom: 10
      }
   }
});
      </pre>

      </div>
      <div class="span6">
         <h3>Example</h3>
         <div class="map" id="marker_templates"></div>
      </div>
   </div>
</div>
<div class="row_fluid">
   <div class="span6">
      <h3>Geocoding</h3>
      <p>Sometimes you don't know the latitude and longitude of your points.  That's OK as the maps widget will try and geocode them for you using the Google Maps Geocoder.  This works for the center point AND any data points.</p>
      <p>For data points, instead of specifying a <b>latField</b> or <b>lngField</b>, simply provide an <b>addressField</b>.  If you do not provide one, it looks for a field called <b>address</b> by default.</p>
            <pre>
var data = [
   { latitude: 28.381642, longitude: -81.56376, 
     name: "Disney World" },
   { latitude: 28.474907, longitude: -81.466316, 
     name: "Universal Studios" },
   { latitude: 28.411785, longitude: -81.460018, 
     name: "Sea World" }];

$("#position").kendoMap({
   dataSource: data,
   addressField: "name",
   map: {
      options: {
         center: "Sheen Lake",
         zoom: 10
      }
   }
});
      </pre>
   </div>
   <div class="span6">
      <h3>Example</h3>
      <div class="map" id="position_geocode"></div>
   </div>
</div>
   

	