<div style="padding: 10px;">
    <div style="float: left;">
        <a href="\#" data-id="${id}" data-title="${title}" class="k-youtube-popup">
            <img height="90" width="120" src="${thumbnail.sqDefault}" alt="thumbnail"/>
        </a>
    </div>
    <div style="margin-left: 130px; height: 90px;">
        <h4 style="margin: 2px">
            <a href="${player.default}" target="_blank">${title}</a>
        </h4>
        <div style="font-size: .8em">
            <p>${description}</p>
        </div>
    </div>
</div>