<ul class="nav">
  <li>
    <a href="#">Home</a>
  </li>
  <li class="dropdown">
    <a href="#dropdown" class="dropdown-toggle" data-toggle="dropdown">
      Maps
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#maps">Basic</a>
      </li>
      <li>
        <a href="#maps/binding">Data Binding</a>
      </li>
      <li>
        <a href="#maps/markers">Markers</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#youtube">YouTube</a>
  </li>
  <li>
    <a href="#custom">Custom Widgets</a>
  </li>
</ul>